<section>
    <ul class="breadcrumb">
      <li>Virus Dashboard</li>
    </ul>
    <pre class="todo">// TODO Recorrer toda la lista de virus para crear las filas de la tabla dinámicamente.
    Cuando haya mostrado toda la información, se podrá acceder a cada virus individual
    </pre>
    <div class="containerDashboard">
       <table id="virusTable" class="table">
           <tr>
               <th>Nombre</th>
               <th>Género</th>
               <th>Especie</th>
               <th>Abreviatura</th>
               <th>Designación</th>
               <th></th>
           </tr>
           <!-- ******** Ejemplo de lo que tiene que debería generarse para cada virus ********-->
           <tr>
               <td>Nombre del virus</td>
               <td>Genus del virus</td>
               <td>Especie del virus</td>
               <td>Abreviatura del virus</td>
               <td>Designación del virus</td>
               <td>
                 <!--// TODO enlazar con url correcta que me muestre info del virus-->
                  <a href="/virus/aquiPonerIdDeCadaVirus">
                    <button class="button1">Acceder</button>
                  </a>
               </td>
           </tr>
           <!-- ********************************************************************************-->
       </table>
   </div>

</section>